<article class="card mb-2">
         <div class="card-body">
         <h4 class="card-title">{{item.shortURL}}</h4>
         <p>{{item.origin}}</p>
         <a href="/eliminar/{{item._id}}" class="btn btn-danger">Eliminar</a>
         <a href="/editar/{{item._id}}" class="btn btn-warning">Editar</a>
         <button data-short ="{{item.shortURL}}" href="#" class="btn btn-info">Copiar</button>
     </div>
 </article>